.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #020617; /* fallback black if video fails */
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
